.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    width: 200px;
    padding: 0px;
    border-right: solid 1px var(--gray200);
    transition: width 0.3s;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.title {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 12px 20px 20px;
    gap: 22px;
    height: 64px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: var(--gray900);
}

.title---icon {
    width: 18px;
    height: 18px;
}

.title--content {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px;
    width: 100%;
    gap: 32px;
    margin-top: 22px;
    height: 100%;
}

.item--wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 16px;
    width: 160px;
    cursor: pointer;
    text-decoration: none;
    color: var(--gray900);

}

.item--icon {
    height: 24px;
    width: 24px;
}

.item--icon::before {
    height: 24px;
    width: 24px;
}

.footer {
    width: 200px;
    flex-grow: 1;
}

.footer--button {
    width: 200px;
    height: 32px;
    cursor: pointer;
}

//responsive the web
@media only screen and (max-width: 1024px) {


    .item {
        margin: 0px;
        padding: 0px;
        align-items: center;
    }

    .item--wrapper {

        align-items: center;
        justify-content: center;
    }

    .title {
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        margin-top: 16px;
    }

    .title--content {
        display: none;
    }



    .footer--button {
        display: none;
    }

    .item--text {
        display: none;
    }
}

.hide {
    position: fixed;
    width: 32px;
    bottom: 0;
    left: 188px;
    cursor: pointer;
    transition: background 0.4s linear;

    &:hover {
        cursor: pointer;
        transform: scale(1.5);
    }
}

.wrapper-hide {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    width: 60px;
    padding: 0px;
    height: 100vh;
    border-right: solid 1px var(--gray200);
    transition: width 0.4s;
}

.onhide {
    position: fixed;
    width: 32px;
    bottom: 0;
    left: 58px;
    cursor: pointer;
    transition: background 0.4s linear;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

}